/*! Place your custom styles here */
.btn__header--secondary {
    margin-top: 1.85714286em;
}

.menu-horizontal > .dropdown > .dropdown__trigger:after {
    content: '';
}

.row__articles {
    margin-top: 4em;
}

.card-2 .card__body--articles {
    border-bottom: 1px solid #ececec;
    border-radius: 0 0 6px 6px;
}

.card-2 .card__body--articles h4 {
    font-size: 1.2em;
}

.section__slider--no-padding-top {
    padding-top: 0;
}

.row__pillar-header--padding-bottom {
    padding-bottom: 6em;
}

.h5__boxes--padding-bottom {
    padding-bottom:  .2em;
}

.row__boxes--text-align-left h5 {
    text-align: left;
}

.row__boxes--text-align-left h4 {
    text-align: left;
}

.row__boxes--text-align-left p {
    text-align: left;
}

.subscribe-form-2--no-padding-top {
    padding: 0;
}

.p__lead--small-font {
    font-size: 14px;
}

.bar .logo--margin-bottom {
    margin-bottom: .8em;
}

.btn__article--margin {
    margin-top: 2em;
    margin-bottom: 2em;
}

.feature__article--margin {
    margin-top: 3em;
    margin-bottom: 2em;
}

.btn__header--no-margin-bottom {
    margin-bottom: 0 !important;
}

.btn--enlarged {
    font-size: 1.3rem;
    line-height: 2.2rem;
}

.bg--secondary-2 {
    background: #f2f2f2;
}

.grow {
    transition: 1s ease;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.p__feature--no-margin-bottom {
    margin-bottom: 0;
}

.p__feature--reset {
    color: #666666;
    font-weight: 400;
    font-size: 1em;
}

.p__chapter--reset {
    color: #666666;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 1.85714286em !important;
}

.footer--custom-padding {
    padding-top: 0;
    padding-bottom: 3rem;
}

.box-shadow-2 {
    box-shadow: 8px 8px 20px 3px rgba(0, 0, 0, 0.08);
}

.title__chapter--big {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.div__chapter--blur {
    filter: blur(2px);
}

.p__lead--bigger-font {
    font-size: 1.3rem;
}
